@import './reset.css';
@import './variables.css';

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-text-primary);
  background-color: var(--color-bg);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
